.MainTitle{
    font-size: xxx-large;
    color: tan;
    text-align: -webkit-center;
}

.MainSubTitle{
    color:darkgrey;
    text-align: -webkit-center;
    margin: 0px;
}

.Layout{
    float: left;
    font-size: x-large;
    padding-right: 60px;
}

p {    
    display: inline-block;
    padding-top: 60px;
}